html {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/*
font-family: 'Merriweather', serif;
font-family: 'PT Sans Caption', sans-serif;
*/
.header {
  background-image: url("../img/bg/bg-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;

  color: #FFF;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
